<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http" port="0" secure="true" protectionLevel="EncryptAndSign" TokenlmpersonationLevel="Impersonation">
					<clientProviders>
						<formatter ref="binary"/>
					</clientProviders>
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
			<client url="http://localhost:1111">
				<activated
				type="RemoteSharedHTTP.SharedHTTP, RemoteSharedHTTP" />
			</client>
		</application>
	</system.runtime.remoting>
</configuration>