<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http" port="1111"   secure="true" protectionLevel="EncryptAndSign" impersonate="false">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
					<clientProviders>
						<formatter ref="binary"/>
					</clientProviders>
				</channel>
			</channels>
			<service>
				<activated
			   type="RemoteSharedHTTP.SharedHTTP, RemoteSharedHTTP" />
			</service>

			<lifetime leaseTime = "40s"
			sponsorshipTimeOut = "110s"
			renewOnCallTime = "30s"
			pollTime = "35s"/>
			
		</application>
	</system.runtime.remoting>
</configuration>